@CHARSET "UTF-8";

.propro {
  margin-bottom: 20px;
  background-color: #272b30;
  border: 1px solid red;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  width: 680px;
  height: 80%;
}