@CHARSET "UTF-8";

.propro {
	font-size: 20px;
	list-style: none;
}

.img-profile {
	border-radius: 20%;
	max-width: 60%;
}

.memo {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	border: 2px solid white;
	background-color: black;
	height: 200px;
}

@media ( min-width : 992px) {
	.memo {
		float: left;
		width: 73.5%;
		font-size: 20px;
	}
	.navbar-default {
		width: 100%;
		z-index: 9999;
	}
	.more {
		text-align: center;
	}
	.breadcrumb {
		background: rgba(23, 21, 21, 0);
		border: 0px solid rgba(245, 245, 245, 1);
		border-radius: 0px;
		display: block;
	}
	.breadcrumb li {
		font-size: 14px;
	}
	.breadcrumb a {
		color: rgba(66, 139, 202, 1);
	}
	.breadcrumb a:hover {
		color: rgba(42, 100, 150, 1);
	}
	.breadcrumb>.active {
		color: rgba(153, 153, 153, 1);
	}
	.breadcrumb>li+li:before {
		color: rgba(204, 204, 204, 1);
		content: "\002F\00a0";
	}
}