<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gclass.drone.mapper.BDatMapper">
	<select id="list" resultType="bdatDto">
		select *
		from bdat
		where bno =
		#{bno}
		order by rno desc
	</select>

	<insert id="create">
		insert into bdat (subjno, bno, bdatno, mno, ctt, regdt)
		values (#{subjno},#{bno},bdat_next(#{subjno}, #{bno}), #{mno}, #{ctt}, #{regdt})
	</insert>

	<update id="update">
		update tbl_reply set replytext = #{replytext},
		updatedate = now()
		where rno= #{rno}
	</update>

	<delete id="delete">
		delete from tbl_reply where rno = #{rno}
	</delete>
	
	<select id ="count" resultType="int">
		select count(bno) from tbl_reply where bno = #{bno}
	</select>
	
	<select id="getBno" resultType="int">
		select bno from tbl_reply where rno = #{rno}
	</select>
</mapper>