<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gclass.drone.mapper.BsubjMapper">

	<insert id="insert">
		insert into bsubj (bcateno, subjno, subjttl, subjctt, mno)
		values(#{bcateno}, bsubj_next, #{subjttl}, #{subjctt}, #{mno})
	</insert>
	
 	<update id="update">
		update bsubj set
			     subjttl = #{subjttl}
			     subjctt = #{subjctt}
		 where subjno= #{subjno}
	</update>
	
	<select id="read" resultType="BsubjDto">
		select *
		  from bsubj
		 where subjno = #{subjno}
	</select>
	
	<update id="delete">
		update bsubj set
			   delyn = 'y'
		 where subjno = #{subjno}
		 
	</update>

  <!--  , CASE WHEN to_char(SYSDATE, 'yyyymmdd') = to_char(regdt, 'yyyymmdd')
          THEN to_char(ROUND((sysdate-regdt)*24))||'시간전'  ELSE to_char(regdt, 'yyyy-mm-dd') 
          END regdtout -->
           
	<select id="sublistAll" resultType="BsubjDto">
		select bcateno, subjno, subjttl, subjctt, mno, delyn, memcnt, opendt, regcnt, extenyn
		  from bsubj
		 where bcateno = #{bcateno}
	  	   and delyn ='n'
	</select>

	<select id="cate" resultType="BsubjDto">
		SELECT b.bcatenm
      	     , A.subjttl
  		  FROM bsubj A JOIN bcate b ON A.bcateno=b.bcateno
 		 where a.subjno = #{subjno}
	</select>

		
	<select id="outdt">
		SELECT TRUNC(MONTHS_BETWEEN(SYSDATE, TO_char(regdt, 'YYYY-MM-DD')))
		  FROM bsubj;
	</select>

</mapper>  