<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gclass.drone.mapper.CateMapper">
	<select id="ctsCateList" resultType="CateDto">
		SELECT *
		  FROM (
				SELECT ROWNUM AS rnum
		        	 , a.*
		          FROM (
		        		SELECT /*+ index_desc(cts idx_cts_regdt) */ filelk
		                	 , ttl
		                     , ctt
		                     , ctsno
		                     , ctscateno
		                     , regdt
		                  FROM CTS
		                 <include refid="Category"></include>
		                ) a
		        <![CDATA[
		         WHERE ROWNUM <= #{endRowNum}
		        ) b
		 WHERE rnum >= #{startRowNum}
		        ]]>
	</select>
	<select id="ctsCateTotalRow" resultType="int">
		SELECT /*+ index_desc(cts idx_cts_regdt) */ count(*)
		  FROM CTS
	  <include refid="Category"></include> 
	</select>
	<sql id="Category">
		<if test="cateArray.length != 7 and cateArray.length != 0">
		where ctscateno in
			 <foreach collection="cateArray" item="ctscateno" open="(" close=")" separator=",">
        		#{ctscateno}
    		</foreach>
		</if>
	</sql>
</mapper>