<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gclass.drone.mapper.InformMapper">
	
                
		
 <select id="listAll" resultType="InformDto" parameterType="InitSearchPage">
		      select * 
        from (
         select rownum as rnum, a.* 
           from (
               SELECT /*+ index_desc(inform inform_igubun_ino_pk) */ igubun
                      , ino
                      , ttl
                      , ctt
                      , readcnt
                      , regdt
                      , mgid
                 FROM inform 
                WHERE igubun = 'g') a 
      <![CDATA[
             where rownum <= 10
            ) b
       where rnum >= 1
      ]]>
	</select>
	
	<select id="totalRow" resultType="int" parameterType="InitSearchPage">
		select count(ino)
		  from inform
		 WHERE igubun = 'g' 
	</select>

<!-- <select id ="listCriteria" resultType="InformDto">
	
</select>-->


<!-- <select id ="countPageing" resultType="InformDto">
	<![CDATA[
		select
			count(ino)
		from
			inform
		where 
		  	ino > 0 and  igubun = ${igubun}
	]]>
</select>   -->

</mapper>