<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gclass.drone.mapper.InformMapper">
	
<insert id="insert">
insert into inform(igubun,ino,ttl,ctt,upfile,regdt,mgid,mno,delyn)
values(#{igubun},inform_next(#{igubun}),#{ttl},#{ctt},#{upfile},#{regdt},#{mgid},#{mno},#{delyn});

</insert>
	
<select id ="read" resultType="InformDto">
	select *
	  from inform
	 where igubun = #{igubun} AND ino = #{ino}
	 
</select>

<delete id="delete">
	delete 
	from inform
	where igubun = #{igubun} AND ino = #{ino}
</delete>

<update id="update">
	update inform
	set ttl =#{ttl}, ctt = #{ctt}
	where igubun = #{igubun} AND ino = #{ino}
</update>
		
 <select id="listAll" resultType="InformDto" parameterType="InitSearchPage">
	    select * 
        from (
         select rownum as rnum, a.* 
           from (
               SELECT /*+ index_desc(inform inform_igubun_ino_pk) */ igubun
                      , ino
                      , ttl
                      , ctt
                      , readcnt
                      , regdt
                      , mgid
                 FROM inform 
                WHERE igubun = 'g'
                <if test="searchType != '' and keyWord != null">
                   where ${searchType} like '%'||#{keyWord}||'%'
                </if>
               ) a 
      <![CDATA[
             where rownum <= #{endRowNum}
            ) b
       where rnum >= #{startRowNum}
      ]]>
	</select>
	
	<select id="totalRow" resultType="int" parameterType="InitSearchPage">
		select count(ino)
		  from inform
		 WHERE igubun = 'g' 
	</select>

<!-- 시장 동향 -->
<select id = "list" resultType="InformDto">
	select * 
        from (
         select rownum as rnum, a.* 
           from (
               SELECT /*+ index_desc(inform inform_igubun_ino_pk) */ igubun
                      , ino
                      , ttl
                      , ctt
                      , readcnt
                      , regdt
                      ,	upfile
                      , mno
                      , mgid
                 FROM inform 
                WHERE igubun = 's'
                <if test="searchType != '' and keyWord != null">
                   where ${searchType} like '%'||#{keyWord}||'%'
                </if>
               ) a 
      <![CDATA[
             where rownum <= #{endRowNum}
            ) b
       where rnum >= #{startRowNum}
      ]]>
</select>
</mapper>