<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gclass.drone.mapper.LocMapper">
		
<!-- 시,도  -->
<select id ="sido" resultType="LocDto">
	select distinct sido
	from loc
	order by sido
</select>

<!-- 시 군 구 -->
<select id ="sigungu" resultType="LocDto">
	select locno,sigungu
	from loc
	where sido = #{sido}
</select>
 

</mapper>