<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gclass.drone.mapper.MemMapper">

<!-- 가입시 받는 값 -->

	<insert id="create">
		insert into mem ( mno, niknm, siteno, email, pic, locno)
		values(mno, niknm, siteno, email, pic, locno)
	</insert>

<!--프로필 상세 페이지볼 때 읽어오는 값들 -->

	<select id="read" resultType="MemDto">
		select mno, niknm, email, pic, license, msgrcyn, prmsg,
				regcnt, datcnt, joacnt, favcnt, readcnt, indt,
				levno, levpoint, locno, ppose, levnm, levnic, 
				locnm, mdrnm, actnm
		from vm_mem
		where mno= #{mno}
	</select>


<!-- 프로필 수정할때 수정가능한 값들 -->
	<update id="update"> <!-- 수정해야됨 -->
		update vm_mem set email=#{email}, pic=#{pic}, license=#{license}, msgrcyn=#{license}, prmsg=#{prmsg},
				locno=#{locno}, locnm=#{locnm}, mdrnm=#{mdrnm}, actnm=#{actnm}
		where mno = #{mno}
	</update>

<!-- 삭제시에 삭제는 멤버 넘버로 -->
	<delete id="delete">
		delete from mem where mno = #{mno}
	</delete>
</mapper>